body{margin:0;padding:0;}

div.menu{
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}
div.menu span{
	padding:10px;
	
}
span.subMenu{
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px;
}
div.description{
	position:relative;
	margin-top:30px;
	width:auto;
}
div.description span{
	position:relative;
	border:2px solid;
	padding:20px;
}


.selected{
	background:#CCC;
	font-weight:bold;
	color:#c23;
}
