<!doctype html>
<html lang="fr">
<head>
  <meta charset="ISO-8859-15">
  <link rel="stylesheet" href="style.css"/>
  <script src="angular.js"></script>
  <script src="controllers.js"></script>
</head>
<body ng-app='test'>
<div ng-controller="formCtr" >
	<!--Form menu-->
	<div class="menu">
		<span ng-repeat="menu in template" ng-class="{selected : displayedMenu[1] == menu.menu}" >
			<a href="#{{menu.menu}}">{{menu.menu}}</a>
			
			<!--div class="" ng-repeat="subMenu in menu.subMenus" ng-show="displayedMenu == menu.menu" >
			1
			<a href="#{{subMenus.subMenu}}">{{subMenus.subMenu}}</a>
			</div-->
			
		</span>
	</div>
	
	<div ng-show="displayedMenu[1] == 'Accueil'">
		BIENVENU SUR LE SITE DU LE MEILLEUR BAR DE PARIS !!
	</div>
	
	<div ng-repeat="menu in template">
		<span class="subMenu" ng-repeat="subMenu in menu.subMenus" ng-show="displayedMenu[1] == menu.menu" ng-class="{selected : displayedMenu[2] == subMenu.subMenu}">
			<a href="#{{menu.menu}}/{{subMenu.subMenu}}" >{{subMenu.subMenu}}</a>
		</span>
		<div class="description" ng-repeat="subMenu in menu.subMenus" ng-show="displayedMenu[2] == subMenu.subMenu">
			<span>
				{{subMenu.description}}
			</span>
		</div>
	</div>
	
	
		
		
		
		
</div>
	



</body>
</html>